<div class="contact">
    <h2>Contact</h2>

    <div>
        <p>Phone:</p>
        <a href="tel:{{contactDetails.phone}}"><strong>{{contactDetails.phone}}</strong></a>
    </div>
    <div>
        <p>Email:</p>
        <a href="mailto:{{contactDetails.email}}"><strong>{{contactDetails.email}}</strong></a>
    </div>
    <div>
        <p>LinkedIn:</p>
        <a href="{{contactDetails.linkedinUrl}}"><strong>{{contactDetails.linkedinUrl}}</strong></a>
    </div>
    <div>
        <p>GitHub:</p>
        <a href="{{contactDetails.githubUrl}}"><strong>{{contactDetails.githubUrl}}</strong></a>
    </div>
    <div class="address">
        <p>Address:</p>
        <p>{{contactDetails.address}}</p>
    </div>
</div>
