<section class="resume-body">
  <section class="left-section">
    <app-profile [name]="resume?.name" [profile]="resume?.profile"></app-profile>
    <app-contact [contactDetails]="resume?.contactDetails"></app-contact>
    <app-personal-details [personalDetails]="resume?.personalDetails"></app-personal-details>
    <app-personal-skills [personalSkills]="resume?.personalSkills"></app-personal-skills>
  </section>
  <section class="right-section">
    <div class="title">
      <h1>RESUME</h1>
    </div>
    <app-objective [objective]="resume?.objective"></app-objective>
    <app-technical-skills [technicalSkills]="resume?.technicalSkills"></app-technical-skills>
    <app-projects [projects]="resume?.projects"></app-projects>
    <app-internship [internship]="resume?.internship"></app-internship>
    <app-certifications [certification]="resume?.certification"></app-certifications>
    <app-education [education]="resume?.education"></app-education>
  </section>
</section>
